<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ aTrainingTracker (ANT+ BTLE)
  ~ Copyright (c) 2011 - 2026 Rainer Blind <rainer.blind@gmail.com>
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see https://www.gnu.org/licenses/gpl-3.0
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.atrainingtracker">

    <uses-permission android:name="com.google.android.gms.permission.AD_ID" tools:node="remove"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.dsi.ant.permission.ANT" />
    <uses-permission android:name="com.dsi.ant.permission.ANT_ADMIN" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <!-- uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /-->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_HEALTH" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <!-- <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" android:minSdkVersion="29"/> Not necessary since we track within a background service, which is visible by a notification-->
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="true" />

    <queries>
        <!-- ANT+ Plugins Service -->
        <package android:name="com.dsi.ant.plugins.antplus" />
        <!-- ANT Radio Service -->
        <package android:name="com.dsi.ant.service.socket" />
        <!-- ANT USB Service -->
        <package android:name="com.dsi.ant.usbservice" />
        <!-- Google Play Services -->
        <package android:name="com.google.android.gms" />
    </queries>

    <application
        android:name=".trainingtracker.TrainingApplication"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:enableOnBackInvokedCallback="true"
        android:resizeableActivity="true"
        tools:targetApi="tiramisu">
        <uses-library android:name="org.apache.http.legacy" android:required="false" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="${MAPS_API_KEY}" />  <!-- stored under secrets.properties -->

        <activity
            android:name=".trainingtracker.activities.MainActivityWithNavigation"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.aTrainingTracker">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".trainingtracker.activities.GpxImportActivity"
            android:label="@string/route_import"
            android:theme="@style/Theme.aTrainingTracker"
            android:exported="true">

            <!-- Handle .gpx files by MIME Type (Preferred by Android) -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:host="*" />
                <data android:mimeType="application/gpx+xml" />
                <data android:mimeType="application/xml" />
                <data android:mimeType="text/xml" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>

            <!-- Handle .gpx files by Extension (Fallback for some File Managers) -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.gpx" />
                <data android:pathPattern=".*\\..*\\.gpx" />
                <data android:pathSuffix=".gpx" />
            </intent-filter>
        </activity>


        <activity
            android:name=".trainingtracker.activities.ZonesSettingsActivity"
            android:label="Training Zones"
            android:theme="@style/Theme.aTrainingTracker" />
        <!-- Ensure the theme is a Material3 compatible theme or Theme.AppCompat -->


        <activity
            android:name=".trainingtracker.smartwatch.pebble.ConfigPebbleViewsActivity"
            android:exported="true"
            android:label="@string/PebbleConfigActivityLabel"
            android:launchMode="singleTask"
            android:theme="@style/Theme.aTrainingTracker"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="com.atrainingtracker.trainingtracker.smartwatch.pebble.ConfigPebbleViewsActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.dropbox.core.android.AuthActivity"
            android:exported="true"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask">
            <intent-filter>

                <data android:scheme="db-iknmdmr31sf64r0" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".trainingtracker.onlinecommunities.runkeeper.RunkeeperGetAccessTokenActivity"
            android:label="@string/RunkeeperGetAccessTokenActivityLabel"
            android:theme="@style/Theme.aTrainingTracker" />

        <activity
            android:name=".trainingtracker.onlinecommunities.strava.StravaOAuthCallbackActivity"
            android:launchMode="singleTop"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="strava" />
                <data android:host="rainerblind.github.io" />
            </intent-filter>
        </activity>

        <activity
            android:name=".trainingtracker.onlinecommunities.trainingpeaks.TrainingpeaksGetAccessTokenActivity"
            android:label="@string/TrainingPeaksGetAccessTokenActivityLabel"
            android:theme="@style/Theme.aTrainingTracker" />

        <!-- <uses-library android:name="com.dsi.ant.antradio_library" /> -->
        <service
            android:name=".trainingtracker.tracker.TrackerService"
            android:foregroundServiceType="location" />
        <service android:name=".trainingtracker.smartwatch.pebble.PebbleService" />
        <service android:name=".trainingtracker.smartwatch.pebble.PebbleServiceBuildIn" />
        <service android:name=".banalservice.BANALService" />
        <service android:name=".trainingtracker.onlinecommunities.strava.StravaSegmentsIntentService" />

        <!-- TODO: still necessary? -->
        <provider
            android:name=".trainingtracker.exporter.GenericFileProvider"
            android:authorities="${applicationId}.com.atrainingtracker.file.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <!-- Disable automatic WorkManager initialization to prevent startup crash on non-standard Android 14 builds (ATT-621) -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>